footer {
  background-color: $color-primary;
  padding-top: 48px;
  img {
    width: 48px;
  }
  address {
    padding: 24px 0 32px 0;
    border-bottom: 1px solid white;
  }
  .copyright {
    padding: 32px 0;
  }
  address {
    font-size: 36px;
    line-height: 1.5;
    .icon {
      &-phone {
        margin-right: 22px;
        font-size: 3rem;
        vertical-align: text-bottom;
      }
      &-mail {
        margin-right: 20px;
        font-size: 3rem;
        vertical-align: text-bottom;
      }
    }
  }
}

@media (max-width: 992px) {
  footer {
    padding-top: 24px;
    img {
      width: 24px;
    }
    address {
      font-size: 16px;
      .icon {
        &-phone {
          font-size: 24px;
        }
        &-mail {
          font-size: 24px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  footer {
    .ic-position {
      position: absolute;
      top: 24px;
      right: 10%;
    }
  }
}
