.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.gap-3 {
  gap: 24px;
}

// margin

.ml-1 {
  margin-left: 4px;
}

.ml-5 {
  margin-left: 20px;
}

.ml-6 {
  margin-left: 24px;
}

.ml-auto {
  margin-left: auto;
}

.mr-4 {
  margin-right: 16px;
}

.mr-5 {
  margin-right: 20px;
}

.mr-6 {
  margin-right: 24px;
}

.mr-8 {
  margin-right: 32px;
}

.mr-12 {
  margin-right: 48px;
}

.mr-auto {
  margin-right: auto;
}

.mt-4 {
  margin-top: 16px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mx-5 {
  margin: 0 20px;
}

.mr-md-4 {
  margin-right: 16px;
}

// padding

.pr-0 {
  padding-right: 0;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.bg-black {
  background-color: #000 !important;
}

.text-white {
  color: white !important;
}

.pos-relative {
  position: relative;
}

@media (max-width: 767px) {
  .flex-sm-column {
    flex-direction: column;
  }
  .align-items-sm-start {
    align-items: flex-start;
  }
  .d-sm-none {
    display: none;
  }
  .my-sm-2 {
    margin: 8px 0;
  }
}
